* {
  border: none;
  font-family: "JetbrainsMono Nerd Font";
  font-size: 15px;
  min-height: 10px;
}

window#waybar {
  background: transparent;
}

window#waybar.hidden {
  opacity: 0.2;
}

#custom-nixos,
#clock,
#cpu,
#memory,
#disk,
#temperature,
#idle_inhibitor,
#pulseaudio,
#battery,
#network {
  margin-top: 6px;
  margin-bottom: 6px;
  padding-left: 10px;
  padding-right: 10px;
  transition: none;
}

#custom-nixos {
  background-color: #FFFFFF;
  /*#5376C3*/
  color: #a5b6ff;
  font-size: 20px;
  padding-right: 15px;
}

#custom-nixos,
#cpu,
#network {
  margin-left: 5px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#clock,
#temperature {
  margin-right: 5px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#clock {
  background: #BBCDE5;
  color: #000000;
}

#cpu {
  background: #1C5D99;
  color: #ffffff;
}

#memory {
  background: #BBCDE5;
  color: #000000;
}

#disk {
  background: #1C5D99;
  color: #ffffff;
}

#temperature {
  background: #BBCDE5;
  color: #000000;
}

#workspaces button {
  color: #ffffff;
  background: #2F3061;
  border-radius: 10px;
  margin: 6px 5px;
  padding: 0px 6px;
  transition: color 0.3s ease, text-shadow 0.3s ease, transform 0.3s ease;
}

#workspaces button.active {
  background: #ffffff;
  color: #000000;
}

#workspaces button:hover {
  background: #ffffff;
  color: #000000;
}

#taskbar {
  background: transparent;
  border-radius: 10px;
  padding: 0px 5px;
  margin: 6px 5px;
}

#taskbar button {
  padding: 0px 5px;
  margin: 0px 3px;
  border-radius: 6px;
  transition: background 0.3s ease;
}

#taskbar button.active {
  background: rgba(255, 255, 255, 0.25);
}

#taskbar button:hover {
  background: rgba(255, 255, 255, 0.25);
}

#pulseaudio {
  background: #BBCDE5;
  color: #000000;
}

#network {
  background: #1C5D99;
  color: #FFFFFF;
}

#battery {
  background: #1C5D99;
  color: #FFFFFF;
  padding-right: 15px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-right: 5px;
}
